---
layout: default
---
<h1>{{ page.title }}</h1>

<div class="project-description">
  {{ content }} </div>

<hr>

<h3>Gallery</h3>
<div class="project-gallery" style="display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); gap: 20px;">
  {% for img in page.gallery_images %}
    <div class="gallery-item">
      <a href="{{ '/projects/' | append: page.folder_name | append: '/' | append: img | relative_url }}" target="_blank">
        <img src="{{ '/thumbs/' | append: page.folder_name | append: '/' | append: img | relative_url }}" alt="Project Image" style="width: 100%; height: auto;">
      </a>
    </div>
  {% endfor %}
</div>